<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <customErrors mode="On" defaultRedirect="login.aspx">
      <error statusCode="404" redirect="login.aspx"/>
      <error statusCode="500" redirect="login.aspx"/>
      <error statusCode="502" redirect="login.aspx"/>
    </customErrors>
    <!--session有效期1天-->
    <sessionState mode="InProc" timeout="1440"/>
    <!--上传限制为1G-->
    <httpRuntime maxRequestLength="1073741824"   executionTimeout="3600" useFullyQualifiedRedirectUrl="true" requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="/" cookieless="UseCookies" defaultUrl="login.aspx"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>

  <!--允许地址栏访问页面-->
  <location path="login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="SalesMGT/retail.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="customerLogin.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="BasicInfor/bookBasicManagement.aspx">
    <system.web>
      <authorization>
        <allow roles="customer,staff"/>
      </authorization>
    </system.web>
  </location>

  <location path="SalesMGT/booksOut.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="SalesMGT/retailRank.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="SalesMGT/salesRanking.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--<location path="CustomerMGT/statistics.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>-->

  <connectionStrings>
    <add name="sqlConn" connectionString="server=idaobin.com;database=bms2;uid=bms;pwd=123456;Convert Zero Datetime=True;Allow Zero Datetime=True;CharSet=utf8;Connect Timeout=60;Default Command Timeout=60"/>
    <!--<add name="sqlConn" connectionString="server=220.165.248.58;port=61268;database=bms;uid=root;pwd=bms123;Convert Zero Datetime=True;Allow Zero Datetime=True;CharSet=utf8;Connect Timeout=60;Default Command Timeout=60"/>-->
    <!--<add name="sqlConn" connectionString="server=10.0.16.35;database=bms;uid=bms;pwd=bms123;Convert Zero Datetime=True;Allow Zero Datetime=True;CharSet=utf8;Connect Timeout=60;Default Command Timeout=60"/>-->
  </connectionStrings>
</configuration>
