/*打印页眉页脚*/
@page {
    size: 5mm;
    margin: 0mm 7mm 0mm 7mm;
}
#XSnum {
    width: 190px;
}
#RKId {
    width: 190px;
}

#CKId {
    width: 190px;
}

#operator {
    width: 120px;
}

#test2 {
    width: 180px;
}

#print_table {
    font-size: 18px;
}
    #print_table th {
        font-size: 25px;
    }

    #print_table tr td:nth-child(4) {
        font-size: 22px;
        width: 1%;
    }

    #print_table tr td:nth-child(1) {
        font-size: 22px;
        width: 1%;
    }

    #print_table tr td:nth-child(2) {
        font-size: 22px;
        width: 2%;
    }

    #print_table tr td:nth-child(3) {
        font-size: 22px;
        width: 15%;
    }

    #print_table tr td:nth-child(5) {
        font-size: 22px;
        width: 1%;
    }

    #print_table tr td:nth-child(6) {
        font-size: 22px;
        width: 1%;
    }

    #print_table tr td:nth-child(7) {
        font-size: 22px;
        width: 2%;
    }

    #print_table tr td:nth-child(8) {
        font-size: 22px;
        width: 2%;
    }

    #print_table tr td:nth-child(9) {
        font-size: 22px;
        width: 2%;
    }
    #print_table tr td:nth-child(10) {
        font-size: 22px;
        width: 2%;
    }

    #print_table tr td:nth-child(11) {
        font-size: 22px;
        width: 2%;
    }
    #print_table tr td:nth-child(12) {
        font-size: 22px;
        width: 2%;
    }


    .table_stock td {
        width: 100px;
        font-size: 20px;
    }

        .table_stock td input {
            font-size: 20px;
        }

    .table_stock td {
        font-size: 20px;
    }

        .table_stock td input {
            font-size: 20px;
        }

.table-head td {
    font-size: 20px;
}

    .table-head td input {
        font-size: 20px;
    }


.tablehead td {
    font-size: 18px;
}

    .tablehead td input {
        font-size: 18px;
    }


#xsbh {
    width: 190px;
}

#xsrq {
    width: 200px;
}
#printTable {
    font-size: 25px;
}
#printTable th{
    font-size: 27px;
}