/*打印页眉页脚*/
@page {
    size: 3mm;
    margin: 0mm 4mm 0mm 4mm;
}


#operator {
    width: 118px;
}
/*#test2 {
    width: 180px;
}*/

#print_table {
    font-family:"黑体";
    font-size: 14px;
    width: 80%;
}
#print_table th{
    font-size: 14px;
}

    #print_table tr td:nth-child(4) {
        font-size: 14px;
        width: 1%;
    }

    #print_table tr td:nth-child(1) {
        font-size: 14px;
        width: 1%;
    }

    #print_table tr td:nth-child(2) {
        font-size: 14px;
        width: 1%;
    }

    #print_table tr td:nth-child(3) {
        font-size: 14px;
        width: 3%;
    }

    #print_table tr td:nth-child(5) {
        font-size: 14px;
        width: 1%;
    }

    #print_table tr td:nth-child(6) {
        font-size: 14px;
        width: 1%;
    }

    #print_table tr td:nth-child(7) {
        font-size: 14px;
        width: 1%;
    }

    #print_table tr td:nth-child(8) {
        font-size: 14px;
        width: 1%;
    }

    #print_table tr td:nth-child(9) {
        font-size: 14px;
        width: 1%;
    }
    #print_table tr td:nth-child(10) {
        font-size: 14px;
        width: 1%;
    }
    #print_table tr td:nth-child(11) {
        font-size: 18px;
        width: 1%;
    }
    #print_table tr td:nth-child(12) {
        font-size: 14px;
        width: 1%;
    }

.table_stock {
    font-family: "黑体";
    width: 80% !important;
}

    .table_stock td {
        font-family: "黑体";
        width: 100px;
        font-size: 14px;
    }

        .table_stock td input {
            font-size: 14px;
        }

.table_stock {
    font-family: "黑体";
    width: 80%;
}

    .table_stock td {
        font-family: "黑体";
        font-size: 14px;
    }

        .table_stock td input {
            font-size: 14px;
        }

.table-head {
    width: 80%;
}
    .table-head td {
        font-family: "黑体";
        font-size: 14px;
    }
    .table-head td input{
        font-size: 18px;
    }


.tablehead td {
    font-family: "黑体";
    font-size: 14px;
}

    .tablehead td input {
        font-size: 14px;
    }

#printTable {
    font-family: "黑体";
    width: 80%;
}

/*#xsbh {
    width: 190px;
}
#xsrq {
    width: 200px;
}*/

#printTable {
    font-family: "黑体";
    width: 80%;
    font-size: 14px;
}

    #printTable th {
        font-size: 14px;
    }
#printtable tr td:nth-child(4) {
    font-size: 14px;
    width: 1%;
}

    #printtable tr td:nth-child(1) {
        font-size: 14px;
        width: 1%;
    }

    #printtable tr td:nth-child(2) {
        font-size: 14px;
        width: 2%;
    }

    #printtable tr td:nth-child(3) {
        font-size: 14px;
        width: 8%;
    }

    #printtable tr td:nth-child(5) {
        font-size: 14px;
        width: 1%;
    }
    #printtable tr td:nth-child(6) {
        font-size: 14px;
        width: 1%;
    }
#printTabled {
    font-family: "黑体";
    font-size: 14px;
    width: 80% !important;
}
#printTabled th{
    font-size: 14px;
}
    #printTabled td {
        font-family: "黑体";
        font-size: 14px;
    }