/*用户管理页面样式*/
.jump {
    color: black;
    font-size: 18px;
    margin-left: 10px;
}

.page {
    font-size: 18px;
}

.page-ul {
    margin-bottom: 0px;
}

.page-box {
    margin-top: 20px;
}

.table-thead-th {
    width: 200px;
}

#btn-search {
    height: 35px;
}
/*模态框样式*/
.model-tab-td-span {
    float: right;
    margin-top: 5px;
    font-size: 18px;
}

.model-table tr td {
    border-top: none;
}

.model-td-left {
    width: 30%;
}

.model-td-left2 {
    width: 40%;
}

#model-btnclose1, #model-btnclose2, #model-btn-eidter {
    margin-right: 20px;
}

/*功能添加模态框样式*/
.table .model-tab-function td .form-check .form-check-label {
    color: black;
}

    .table .model-tab-function td .form-check .form-check-label .form-check-sign .check:checked {
        background: red !important;
    }

.model-tab-td-functionSpan {
    float: left;
    margin-top: -10px;
}

.table .model-tab-function td {
    border-top: none;
}
/*入库样式*/
.input_text {
    height: 35px;
    border: 1px solid #ddd;
    text-align: center;
    float: left;
}

.span-text {
    float: right;
}

.table_stock tbody tr td {
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: none;
}

.th_change {
    border-top: 1px solid #DDD;
}
/*导入基础数据模态框样式*/
#downEx {
    margin-right: 20px;
}

.fileinput-button {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

    .fileinput-button input {
        position: absolute;
        right: 0px;
        top: 0px;
        opacity: 0;
        -ms-filter: 'alpha(opacity=0)';
        font-size: 200px;
    }

#bookBasicModal_table {
    width: 95%;
    margin: auto;
}

#upload, #btn_import {
    margin-left: 20px;
}

/*#btnAdd {
    margin-right: 30px;
}*/

.float-left {
    width: 80px;
    float: left;
}

.float_left {
    float: left;
    width: 250px;
}
/*销售*/
#btn-addSale {
    height: 35px;
}

#saleCustmer {
    border: 1px solid #ccc;
    color: dimgray;
    width: 180px;
    height: 28px;
}

#source {
    width: 180px;
}
.btnStyle{
    width:110px;
    height:60px;
    font-size:24px;
}
