/*login页面样式*/
#login {
    width: 500px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.25);
    margin-top: 120px;
    border-top: 1px solid rgba(255, 255, 255, 0.60);
    border-bottom: 1px solid rgba(255, 255, 255, 0.60);
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.60);
}

.Acontent {
    margin-top: 25px;
    margin-left: 60px;
}

.retrievePwd {
    margin: 10px 0 10px 0;
    margin-left: 250px;
}

#userName {
    border-radius: 0px 4px 4px 0;
    height: 35px;
    width: 276px;
}

#pwd {
    border-radius: 0px 4px 4px 0;
    height: 35px;
    width: 276px;
}
/*用户管理页面样式*/
.jump {
    color: black;
    font-size: 18px;
    margin-left: 10px;
}

.page {
    font-size: 18px;
}

.page-ul {
    margin-bottom: 0px;
}

.page-box {
    margin-top: 20px;
}

.table-thead-th {
    width: 200px;
}
/*输入框样式*/
.input-search {
    background-image: linear-gradient(to top,#d2d2d2 2px,rgba(156,39,176,0) 2px),linear-gradient(to top,#d2d2d2 1px,rgba(210,210,210,0) 1px) !important;
    margin-top: 4px;
}

#btn-search {
    height: 35px;
}
/*模态框样式*/
.model-tab-td-span {
    float: right;
    margin-top: 5px;
}

.model-table tr td {
    border-top: none;
}

.model-td-left {
    width: 30%;
}

.model-td-left2 {
    width: 40%;
}

#model-btnclose1, #model-btnclose2, #model-btn-eidter {
    margin-right: 20px;
}
/*子菜单移过公共样式*/
.collapse .nav .hoverColor a:active, .collapse .nav .hoverColor a:hover {
    background-color: #f44336;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(244, 67, 54, .4);
    color: #fff;
}

.collapse .nav .foucsColor a {
    background-color: #f44336;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(244, 67, 54, .4);
    color: #fff;
}

    .collapse .nav .foucsColor a:focus {
        background-color: #f44336;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(244, 67, 54, .4);
        color: #fff;
    }
/*书籍基础数据样式*/
.book-tab-tr {
    border-top: 1px solid #DDD;
}

.table-tr-td-bookName {
    width: 70px;
}

.table-tr-td-bookAuoth {
    width: 85px;
}
