/* 主页面css */
.sidebar-wrapper .nav ul li a {
    text-align: center;
}

.sidebar .nav li.active > [data-toggle=collapse],
.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:hover,
.dropdown-menu a:active,
.dropdown-menu a:focus,
.dropdown-menu a:hover {
    background-color: #f44336;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(244, 67, 54, .4);
    color: #fff;
}

    .sidebar .nav li.active > [data-toggle=collapse] i {
        color: #fff;
    }


.main-panel > .content {
    margin-top: 27px;
    padding: 30px 15px;
    min-height: calc(100vh - 123px);
}

/* 登录页面css */
.card .card-header-rose:not(.card-header-icon):not(.card-header-text) {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(244, 67, 54, .4);
    background: linear-gradient(60deg,#f44336,#f03528);
}

.card-footer .btn {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #f44336;
}

.form-control, .is-focused .form-control {
    background-image: linear-gradient(to top,#f44336 2px,rgba(156,39,176,0) 2px),linear-gradient(to top,#d2d2d2 1px,rgba(210,210,210,0) 1px);
}

.radio_group {
    padding-left: 55px;
    padding-right: 55px;
}

/* 非空验证文本框样式 */
.model-table .txtVerify, .remarks {
    margin-top: 5px;
    font-size: 14px;
    color: #999;
    border: 1px solid #ddd;
}